body {
    background: linear-gradient(90deg, #00c9ff 0%, #92FE9D 100%);;
}

.post-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-input-wrapper {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.form-input-wrapper label {
    font-size: 1.3rem;
    margin: 8px;
}

.post-form input {
    width: 50%;
    height: 1.3rem;
    background: rgb(25, 25, 25);
    color: #92FE9D;
    border: none;
}

.post-form textarea {
    background: rgb(25, 25, 25);
    color: #92FE9D;
}

.form-submit {
    height: 2em;
    font-size: 1.2em;
    background: rgb(25, 25, 25);
    color: #92FE9D;
    border: 2px solid #00c9ff;
    border-radius: 8px;
    letter-spacing: 1.4px;
    margin-top: 15px;
}

.posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 30px 10px;
}

.post-div {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    max-width: 500px;
    border-radius: 5px;
    padding: 3px 15px;
    margin: 20px;
}

.post-div button {
    /* width: 44px; */
    height: 44px;
    background: rgb(25, 25, 25);
    color: #92FE9D;
    border: 2px solid #92FE9D;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 400;
}

.post-div button:hover {
    transform: scale(1.2);
    transition-duration: .5s;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-content p {
    margin-left: 10px;
    max-height: 40%;
}

.vote-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* color definitions for post background */
.red-3 {
    background: rgba(69, 0, 3, 0.95);
}

.red-2 {
    background: rgba(195, 15, 14, 0.95);
}

.red-1 {
    background:rgba(229, 57, 53, 0.95);
}

.orange-2 {
    background: rgba(250, 91, 15, 0.95);
}

.orange-1 {
    background: rgba(250, 150, 0, 0.95);
}

.yellow-2 {
    background: rgba(255, 214, 0, 0.95);
}

.yellow-1 {
    background: rgba(255, 241, 118, 0.95);
}

.green-1 {
    background: rgba(189, 242, 113, 0.95);
}

.green-2 {
    background: rgba(69, 191, 85, 0.95);
}

.green-3 {
    background: rgba(22, 128, 57, 0.95);
}

.default-bg {
    background: whitesmoke;
}